html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #e3d0f5;
}

/* --- CONTENEDOR PRINCIPAL --- */
.layout {
    display: flex;
    width: 100%;
}

/* --- SIDEBAR IZQUIERDA --- */
.sidebar-izquierda {
    width: 200px;
    min-height: 100vh;
    background-color: hsl(269, 58%, 71%);
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

/* Links */
.sidebar-izquierda a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* --- CONTENIDO CENTRAL --- */
.div-info {
    flex: 1;
    padding: 40px 60px;
    position: relative;
    box-sizing: border-box;
    margin-left: 200px;
}

/* Imagen fija en el texto */
.img-derecha {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

#inicio {
    padding-right: 320px; /* espacio para la imagen */
}

/* --- SIDEBAR DERECHA --- */
.sidebar-derecha {
    width: 250px;
    min-height: 100vh;
    background-color: #ecdff9;
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    max-width: 100%;
    height: auto;
    display: block;
}
