body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #e3d0f5; /* tu lavanda claro */
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;          /* <-- antes probablemente tenías 300–400 */
    min-height: 100vh;
    background-color: #b58ce0;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.sidebar a.active {
    font-weight: bold;
    text-decoration: underline;
}

/* CONTENIDO */
.content {
    padding: 40px 60px;  /* espacio normal y simétrico */
    flex: 1;             /* ocupa el resto del ancho */
    box-sizing: border-box;
}

.seccion {
    display: none;
}

.seccion.activa {
    display: block;
}

.content {
    position: relative;
}

/* Imagen en la esquina superior derecha del contenido */
.img-derecha {
    position: absolute;
    top: 70px;    
    right: 50px;
    width: 300px;
    border-radius: 0px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}
#inicio {
    padding-right: 300px;
}