body {
            font-family: 'Poppins', sans-serif;
            max-width: 900px;
            margin: auto;
            padding: 20px;
            line-height: 1.6;
            background-color: #f5f2ff;
        }

        .sidebar {
            position: fixed;
            left: 0;
            top: 0;
            width: 180px;
            height: 100%;
            background-color: rgb(155, 127, 228);
            padding-top: 30px;
            box-shadow: 2px 0 8px rgba(0,0,0,0.08);
        }

        .sidebar a {
            display: block;
            padding: 14px 20px;
            font-size: 16px;
            color: #333 ;
            text-decoration: none;
            font-weight: 500;
            transition: background 0.2s, padding-left 0.2s;
        }

        .sidebar a:hover {
            background-color: #6e5ea0;
            padding-left: 26px;
        }

        .content {
            margin-left: 200px;
            padding: 20px;
            max-width: 900px;
        }